code/main/bestbuds.code-workspace
code/main/bestbuds_v0.1/.vscode/extensions.json
code/libraries/MAX6675_library/MAX6675_library/examples/lcdthermocouple/lcdthermocouple.pde
code/libraries/MAX6675_library.zip
code/libraries/MAX6675_library/MAX6675_library/keywords.txt
code/libraries/MAX6675_library/MAX6675_library/library.properties
code/libraries/MAX6675_library/MAX6675_library/examples/serialthermocouple/serialthermocouple.pde

